#main-consult {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    text-align: center;

    .conteiner-consulta {
        display: flex;
        flex-direction: column;
        align-items: center;

        .consult {
            margin: 10px 20px;
            padding: 15px;
            gap: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: nowrap;

            box-shadow: 2px 2px 15px rgb(243, 7, 7);
            border-radius: 10px;
            border: solid rgba(34, 31, 31, 0) 2px;

            &:hover {
                border: solid rgb(231, 24, 24) 2px;
            }

            .consult-icono {
                width: 100px;

                .fa-solid {
                    color: white;
                    font-size: 90px;
                }
            }

            .consult-descripcion {
                display: inline-block;
                padding: 10px;
                border-radius: 10px;
                transition: a11 0.5s ease;

                color: rgb(231, 24, 24);

                &:hover {
                    background: rgb(224, 14, 14);
                    color: rgb(243, 231, 230);
                    box-shadow: red 0px 1px 25px;
                }


            }
        }
    }


    #conteiner-preguntas {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px 20px;

        #box-pregunt {
            display: flex;

            gap: 10px;
            padding-top: 10px;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-evenly;

            .preguntas {
                text-align: center;
                box-shadow: 2px 2px 15px rgb(243, 7, 7);
                border-radius: 10px;
                border: solid rgba(34, 31, 31, 0) 2px;
                width: 300px;

                &:hover {
                    border: solid rgb(231, 24, 24) 2px;
                }

                p {
                    padding: 10px 10px;
                    font-style: italic;
                }

                h1 {
                    padding-top: 10px;
                    color: rgb(231, 24, 24);
                }
            }
        }

    }

}