
#mainout{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

    section{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 50px ;  /*crea un espacio alrededor de los elementos , en este caso crea un espacio alrededor de la section*/
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            /*margin: 10px 0;*/
            padding: 20px;
            background-color:transparent;
            border: 1px solid black;   /*creamos un borde solido alrededor del padding*/
        }
        
    }
    img{
        width: 236px;
    }
    h2{
        color: #080708;
    }
    h3{
        color: #080708;
        font-size: large;
        font-style: italic;
        font-weight: 200;
    }
}

