
#pro{ //fijate si existe este id
    padding-top: 30px;  
}

#productos{
    padding-top: 30px; 
    display: flex;
    flex-direction: column;
    align-items: center;
   margin: 50px 0;
   #gorras_curva_A{
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    
     .etiqueta2{
            width: 220px;
            height: 360px;
            padding: 10px;
            box-shadow: 2px 2px 15px rgb(243, 7, 7);
            border-radius: 10px;
            border: solid rgba(34, 31, 31, 0) 2px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &:hover{
                border: solid rgb(231, 24, 24) 2px;
            }
            img{
                width: 100%;
                border-radius: 50%;
                box-shadow: 2px 2px 10px rgb(250, 7, 7);
                cursor: pointer;
            }
            .model1{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                padding: 10px;
                h3{
                    font-size: 18px;
                    margin-bottom: 5px;
                    font-weight: 700;
                }
                p{
                    color: gray;
                    font-size: 14px;
                    line-height: 15px;
                    margin-bottom: 5px;
                }
            }
            .descrip1{
               // padding: 20px 5px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                .precio{
                    h6{
                        font-size: 17px;
                        color: red;
                        font-weight: 600;
                    }

                }
            }
             
            }
            .shop-icono{
                margin-right: 150px;
                margin-top: 5px;
                .fa-regular{
                    color: red;
                  
                }
            }

        }
    }
  /* .shop-text{
    text-align: center;
    
    h4{
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
        color: rgb(231, 24, 24);
    }
    h2{
        font-size:var(--h2-font) ;
        color: white;
    }
   }
   .producto_gorra{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(300px,auto));
            box-shadow: 2px 2px 15px rgb(243, 7, 7);
            border-radius: 10px;
            border: solid rgba(34, 31, 31, 0) 2px;
          //  display: flex;
            //flex-direction: column;
           align-items: center;
            gap: 2rem ;
            margin-top: 4rem ;
             &:hover{
                border: solid rgb(231, 24, 24) 2px;
            }
           
              
            }
            .model{
              position: relative;
              padding: 10px 35px 40px;
               background: rgb(37, 37, 37);
               border-radius: 3rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                padding: 15px;

                 img{
                width: 100%;
                height: auto;
                transition: transform 0.5s ease;
                cursor: pointer;
                border-radius: 50%;
                box-shadow: 2px 2px 10px rgb(250, 7, 7);
                h3{
                    font-size: 18px;
                    margin-bottom: 5px;
                    font-weight: 700;
                }
                p{
                    color: white;
                    line-height: 30px;
                    margin-bottom:1rem;
                }
                .shop-icono{
                        position: relative;
                        top: 30px;
                        left: 35px;
                        a{
                        .fa-regular{
                           font-size: 22px;
                           color: yellow;
                        }
                    }
                }
            }
              .descrip{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px 5px;
                .precio{
                    h6{
                        font-size: 17px;
                        color: white;
                    }
                }
                .shop-boton{
                    display: inline-block;
                    padding: 9px 23px;
                    background: yellow;
                    color: blue;
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 1px;
                    border-radius: 3rem;
                    transition: a11 0.5s ease;
                    &:hover{
                        background: blueviolet;
                        color: blue;
                        box-shadow: red 0px 1px 25px;
                    }


                }
            }
            .boton{
                text-align: center;
                margin-top: 10px;
                
              .enlase{
                
                 padding: 4px 10px;
                 color: white;
               }
            }
                
           
            
   }
    

   h2{
    color: black;
    }
    h3{
        font-size: large;
        font-style: italic;
        font-weight: 200;
        color: #080708;
    }
    section{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        margin: 50px 0;
        flex-wrap: wrap;
        justify-content: center;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px 0;
            padding: 20px;
            background-color:transparent;
            border: 1px solid black;
            img{
                width: 236px ;
            }
        }
    }*/


