@import"../base/VARS";
.boton {
    a{
    display: inline-block;
    padding: 9px 23px;
    background: rgb(17, 17, 17);
    color: rgb(241, 58, 58);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 3rem;
    transition: a11 0.5s ease;
    &:hover{
        background: rgb(224, 14, 14);
        color: rgb(243, 231, 230);
        box-shadow: red 0px 1px 25px;
    }
    
    }
}
.boton1 {
    
    display: inline-block;
    padding: 9px 23px;
    background: rgb(17, 17, 17);
    color: rgb(241, 58, 58);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 3rem;
    transition: a11 0.5s ease;
    &:hover{
        background: rgb(224, 14, 14);
        color: rgb(243, 231, 230);
        box-shadow: red 0px 1px 25px;
    }
    
    
}
.boton4 {
    
    font-family: sans-serif;
    display: inline-block;
    padding: 9px 23px;
    background:transparent;
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 3rem;
    transition: a11 0.5s ease;
    &:hover{
        background: rgb(224, 14, 14);
        color: rgb(243, 231, 230);
        box-shadow: red 0px 1px 25px;
    }
       
   
}
/*.boton4 {
    font-family:"Kanit", sans-serif;
    background-color:transparent;
    color: white;
    border-radius: 4px;
    padding: 3px 8px;              
    border: 2px solid transparent;
   
}*/
.boton2 {
    background-color:$bot2Color;
    color:white;
    border-radius: 4px;
    padding: 2px;
}
.boton3{
    background-color:$had-color-an;
    color: black;
    border-radius: 4px; /* para editar lo bordes del boton*/
    padding: 8px;
}
