* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

body {
  font-family: sans-serif;
}

header {
  background-color: black;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex; /*para poder aplicar flex sobre el header*/
  align-items: center; /*para centrar*/
  justify-content: flex-start; /*crea un espacio entre el logo y las opciones*/
  flex-direction: column;
  height: 110px; /*usamos esto para definir la altura del header(encabezado)..esto es parte de box model*/
  width: 100%;
  top: 0px;
  grid-area: header;
}
header a {
  text-decoration: none;
  color: #081c15;
  font-family: "Kanit", sans-serif;
}
header img {
  width: 110px;
}

main {
  grid-area: main;
  background-color: black;
  background-size: cover;
  background-position: center;
  color: white;
  margin-top: 0px;
  flex-wrap: wrap;
}

footer {
  grid-area: footer;
  background-color: #212529;
  color: white;
  height: 200px;
}
footer #foterconteiner {
  font-family: system-ui; /*para selecionar el tipo de letra*/
  display: flex; /*para aplicar box*/
  justify-content: space-around;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}
footer #foterconteiner h3 {
  font-family: monospace;
  font-size: large;
}
footer #foterconteiner h4 {
  font-size: 15px;
  font-weight: 400;
}
footer #foterconteiner .wapp img {
  width: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
footer #foterconteiner #correo ul {
  padding: 5px;
}
footer #foterconteiner #correo ul li {
  padding: 5px;
}
footer #foterconteiner #correo img {
  width: 50px;
}
footer #foterconteiner .foterlogo img {
  width: 50px;
}
footer #foterconteiner #redes {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
footer #foterconteiner #redes .foterredes {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer #foterconteiner #redes .foterredes .fa-brands {
  background: transparent;
  font-size: 30px;
  color: white;
}
footer #foterconteiner .fa-solid {
  font-size: 30px;
  color: white;
  padding-left: 15px;
}

.nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  background: #343a40;
}
.nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  margin-top: 7px;
}
.nav div .usuario {
  display: inline-block;
  padding: 3px 3px 1px 11px;
  border-radius: 3rem;
  transition: a11 0.5s ease;
}
.nav div .usuario:hover {
  background: rgb(224, 14, 14);
  color: rgb(243, 231, 230);
  box-shadow: red 0px 1px 25px;
}
.nav div .usuario img {
  width: 40px;
  margin-right: 10px;
}
.nav div .carrito {
  display: inline-block;
  padding: 3px 3px;
  border-radius: 3rem;
  transition: a11 0.5s ease;
}
.nav div .carrito:hover {
  background: rgb(224, 14, 14);
  color: rgb(243, 231, 230);
  box-shadow: red 0px 1px 25px;
}
.nav div .carrito img {
  width: 40px;
}

.boton a {
  display: inline-block;
  padding: 9px 23px;
  background: rgb(17, 17, 17);
  color: rgb(241, 58, 58);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 3rem;
  transition: a11 0.5s ease;
}
.boton a:hover {
  background: rgb(224, 14, 14);
  color: rgb(243, 231, 230);
  box-shadow: red 0px 1px 25px;
}

.boton1 {
  display: inline-block;
  padding: 9px 23px;
  background: rgb(17, 17, 17);
  color: rgb(241, 58, 58);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 3rem;
  transition: a11 0.5s ease;
}
.boton1:hover {
  background: rgb(224, 14, 14);
  color: rgb(243, 231, 230);
  box-shadow: red 0px 1px 25px;
}

.boton4 {
  font-family: sans-serif;
  display: inline-block;
  padding: 9px 23px;
  background: transparent;
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 3rem;
  transition: a11 0.5s ease;
}
.boton4:hover {
  background: rgb(224, 14, 14);
  color: rgb(243, 231, 230);
  box-shadow: red 0px 1px 25px;
}

.boton2 {
  background-color: #d90429;
  color: white;
  border-radius: 4px;
  padding: 2px;
}

.boton3 {
  background-color: #081c15;
  color: black;
  border-radius: 4px;
  padding: 8px;
}

#baner {
  background-color: black;
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  height: auto;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding-top: 20px;
  overflow-x: hidden;
}
#baner #banerParraf {
  width: 50%;
  max-width: 500px;
}
#baner #banerParraf p {
  font-style: italic;
  padding-bottom: 20px;
  font-family: "Work Sans";
}
#baner #logoini {
  width: 50%;
  padding-top: 20px;
}
#baner img {
  width: 100%;
}

#encabezado {
  background-image: url(../img/fondo.t2.avif);
  background-size: cover;
  background-position: center;
}

/*modelos*/
#modelos {
  grid-area: modelos;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
#modelos h3 {
  font-family: "Work Sans", sans-serif;
}
#modelos h3,
#modelos h2 {
  text-align: center;
  color: white;
}
#modelos h2 {
  color: white;
}
#modelos p {
  color: white;
  font-style: italic;
}
#modelos #modelconteiner {
  width: 100%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
#modelos #modelconteiner .etiqueta {
  width: 320px;
  padding: 20px;
  box-shadow: 2px 2px 15px rgb(243, 7, 7);
  border-radius: 10px;
  border: solid rgba(34, 31, 31, 0) 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#modelos #modelconteiner .etiqueta:hover {
  border: solid rgb(231, 24, 24) 2px;
}
#modelos #modelconteiner .etiqueta img {
  width: 236px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgb(250, 7, 7);
}
#modelos #modelconteiner .etiqueta .model {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 15px;
}
#modelos #modelconteiner .etiqueta .descrip {
  padding: 20px 5px;
}
#modelos #modelconteiner .etiqueta .boton {
  text-align: center;
  margin-top: 10px;
}

#maincontacto #ubi {
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 2px 2px 15px rgb(243, 7, 7);
  border-radius: 10px;
}
#maincontacto #ubi #direccion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  min-width: 300px;
}
#maincontacto #ubi #direccion h1 {
  color: red;
}
#maincontacto #ubi #maps {
  padding: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100%;
}
#maincontacto #ubi h3 {
  color: white;
}
#maincontacto #loc {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
#maincontacto #loc #titulo_local {
  text-align: center;
  margin: 10px;
  max-width: 80%;
  min-width: 300px;
}
#maincontacto #loc #titulo_local h1 {
  color: red;
}
#maincontacto #loc #box-local {
  display: flex;
  gap: 5px;
  overflow-x: scroll;
  width: 100%;
  scroll-snap-type: x mandatory;
}
#maincontacto #loc #box-local img {
  width: 100%;
  object-fit: cover;
  height: 500px;
  filter: drop-shadow(2px 2px 6px rgb(228, 13, 13));
}
#maincontacto #loc #box-local .img-local {
  scroll-snap-align: center;
  min-width: 300px;
  margin: 15px;
  background-color: rgb(230, 15, 15);
}
#maincontacto #red {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 30px 0px;
  background: transparent;
}
#maincontacto #red .box-redes {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0px 20px;
}
#maincontacto #red .box-redes h1 {
  text-align: left;
  letter-spacing: 5px;
}
#maincontacto #red .box-redes .data {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#maincontacto #red .box-redes .data p {
  font-size: 16px;
}
#maincontacto #red .box-redes .data p i {
  color: red;
  margin-right: 10px;
  font-size: 25px;
}
#maincontacto #red .box-redes .links {
  display: flex;
  gap: 15px;
}
#maincontacto #red .box-redes .links a {
  width: 40px;
  height: 40px;
  background: red;
  text-align: center;
  transition: 1s;
}
#maincontacto #red .box-redes .links a i {
  color: white;
  line-height: 40px;
  font-size: 20px;
}
#maincontacto #red form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  margin-top: 20px;
}
#maincontacto #red form .imput-form input {
  width: 300px;
  height: 40px;
  padding: 0px 10px;
  outline: none;
  background: transparent;
  border: 2px solid rgb(141, 10, 10);
  border-radius: 10px;
  transition: 0.3s;
  color: white;
}
#maincontacto #red form .imput-form textarea {
  width: 100%;
  height: 130px;
  background: transparent;
  border: 2px solid rgb(141, 10, 10);
  border-radius: 10px;
  transition: 0.3s;
  color: white;
  padding: 10px;
}

.maincuenta {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  background: black;
}
.maincuenta #logo-pag-cuenta {
  text-align: center;
}
.maincuenta #logo-pag-cuenta p {
  color: white;
  max-width: 700px;
  font-size: large;
  font-weight: 500;
  padding: 40px 0;
}
.maincuenta #logo-pag-cuenta h1 {
  color: #c92b2b;
}
.maincuenta #logo-pag-cuenta img {
  width: 300px;
}
.maincuenta #iniciar_cesion {
  padding-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.maincuenta #iniciar_cesion h1 {
  margin: 20px;
}
.maincuenta #iniciar_cesion .sinborde1 {
  width: 200px;
  height: 20px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid red;
  padding: 10px;
  margin-bottom: 16px;
  color: white;
}
.maincuenta #iniciar_cesionplaceholder {
  color: #343a40;
}
.maincuenta #iniciar_cesion form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 315px;
  padding: 15px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 2px 2px 15px red;
  border: solid rgba(34, 31, 31, 0) 2px;
}
.maincuenta #iniciar_cesion form:hover {
  border: solid red 2px;
}
.maincuenta #iniciar_cesion form div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.maincuenta #iniciar_cesion form #bot {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 10px 0;
  gap: 15px;
}
.maincuenta #iniciar_cesion .enlase-sec {
  color: red;
  margin: 20px;
}
.maincuenta p {
  text-align: center;
  max-width: 600px;
  min-width: 280px;
  padding: 30px 0px;
}
.maincuenta #crear_cuenta label {
  color: red;
}
.maincuenta #crear_cuenta h1 {
  text-align: center;
  margin: 20px;
}
.maincuenta #crear_cuenta .sinborde2 {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgb(231, 16, 16);
  padding: 4px;
  width: 200px;
  height: 20px;
  appearance: none;
  margin-bottom: 5px;
  color: white;
}
.maincuenta #crear_cuenta #genero {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 10px 20px;
}
.maincuenta #crear_cuenta form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 315px;
  padding: 15px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 2px 2px 15px red;
  border: solid rgba(34, 31, 31, 0) 2px;
}
.maincuenta #crear_cuenta form:hover {
  border: solid red 2px;
}
.maincuenta #crear_cuenta form div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.maincuenta #crear_cuenta form #bot {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 10px 0;
  gap: 15px;
}
.maincuenta #botonini {
  padding: 30px;
}

#modelo {
  text-align: center;
}
#modelo img {
  width: 100%;
}

#productos {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  gap: 20px;
  text-align: center;
}
#productos #gorras_curva_A {
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
#productos #gorras_curva_A .etiqueta2 {
  width: 220px;
  height: 360px;
  padding: 10px;
  box-shadow: 2px 2px 15px rgb(243, 7, 7);
  border-radius: 10px;
  border: solid rgba(34, 31, 31, 0) 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#productos #gorras_curva_A .etiqueta2:hover {
  border: solid rgb(231, 24, 24) 2px;
}
#productos #gorras_curva_A .etiqueta2 img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgb(250, 7, 7);
  cursor: pointer;
}
#productos #gorras_curva_A .etiqueta2 .model1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
#productos #gorras_curva_A .etiqueta2 .model1 h3 {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 700;
}
#productos #gorras_curva_A .etiqueta2 .model1 p {
  color: gray;
  font-size: 14px;
  line-height: 15px;
  margin-bottom: 5px;
}
#productos #gorras_curva_A .etiqueta2 .descrip1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
#productos #gorras_curva_A .etiqueta2 .descrip1 .precio h6 {
  font-size: 17px;
  color: red;
  font-weight: 600;
}
#productos #gorras_curva_A .shop-icono {
  margin-right: 150px;
  margin-top: 5px;
}
#productos #gorras_curva_A .shop-icono .fa-regular {
  color: red;
}

#botmodel {
  text-align: center;
  margin: 20px;
}

#main-consult {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  text-align: center;
}
#main-consult .conteiner-consulta {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-consult .conteiner-consulta .consult {
  margin: 10px 20px;
  padding: 15px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  box-shadow: 2px 2px 15px rgb(243, 7, 7);
  border-radius: 10px;
  border: solid rgba(34, 31, 31, 0) 2px;
}
#main-consult .conteiner-consulta .consult:hover {
  border: solid rgb(231, 24, 24) 2px;
}
#main-consult .conteiner-consulta .consult .consult-icono {
  width: 100px;
}
#main-consult .conteiner-consulta .consult .consult-icono .fa-solid {
  color: white;
  font-size: 90px;
}
#main-consult .conteiner-consulta .consult .consult-descripcion {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  transition: a11 0.5s ease;
  color: rgb(231, 24, 24);
}
#main-consult .conteiner-consulta .consult .consult-descripcion:hover {
  background: rgb(224, 14, 14);
  color: rgb(243, 231, 230);
  box-shadow: red 0px 1px 25px;
}
#main-consult #conteiner-preguntas {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 20px;
}
#main-consult #conteiner-preguntas #box-pregunt {
  display: flex;
  gap: 10px;
  padding-top: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
#main-consult #conteiner-preguntas #box-pregunt .preguntas {
  text-align: center;
  box-shadow: 2px 2px 15px rgb(243, 7, 7);
  border-radius: 10px;
  border: solid rgba(34, 31, 31, 0) 2px;
  width: 300px;
}
#main-consult #conteiner-preguntas #box-pregunt .preguntas:hover {
  border: solid rgb(231, 24, 24) 2px;
}
#main-consult #conteiner-preguntas #box-pregunt .preguntas p {
  padding: 10px 10px;
  font-style: italic;
}
#main-consult #conteiner-preguntas #box-pregunt .preguntas h1 {
  padding-top: 10px;
  color: rgb(231, 24, 24);
}

/**grid*/
body {
  background-color: #212529;
  display: grid;
  grid-template-areas: "header   header  header   header " "nav      nav     nav      nav" "main     main    main     main" "modelos  modelos modelos  modelos" "footer   footer  footer   footer";
  grid-template-columns: 170px 1fr 1fr 16%;
}

/******** GRID *******/
@media screen and (min-width: 1075px) {
  #main-consult {
    display: flex;
    flex-direction: row;
  }
  #main-consult .conteiner-consulta {
    width: 70%;
  }
  #main-consult #conteiner-preguntas {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  #baner {
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    padding: 90px;
  }
  #baner img {
    padding: 20px;
  }
  #foterconteiner {
    flex-direction: column;
    padding-left: 180px;
  }
  #foterconteiner div {
    padding: 10px;
  }
}
@media screen and (max-width: 425px) {
  body {
    grid-template-areas: "header  header  header  header " "nav     nav     nav     nav" "main    main    main    main" "modelos modelos modelos modelos" "footer  footer  footer  footer";
  }
  .nav ul {
    display: flex;
    flex-direction: row;
  }
  #baner {
    padding: 5px 0px;
  }
  #baner p {
    width: 100%;
    padding: 10px 5px;
  }
  #foterconteiner {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
  }
  .model img {
    width: 100%;
  }
  #modelconteiner {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  #mainout section {
    flex-direction: column;
  }
  #main-consult {
    display: flex;
    flex-direction: column;
  }
  #main-consult .conteiner-consulta {
    width: 100%;
  }
  #main-consult #conteiner-preguntas {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  footer #foterconteiner {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: baseline;
  }
}

/*# sourceMappingURL=style.css.map */
